.barContainer {
  padding: 6px 0;
  background-color: #d9333e;
}
.textB {
  font-family: "Montserrat", sans-serif;
  font-size: 19px !important;
  text-align: center;
  margin: auto;
  color: white !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}


@media only screen and (max-width: 768px) {
  .barContainer p {
    font-size: 14px !important;
  }
}
