.Fcontainer{
    width: 100%;
    height: 300px;
    background-color: #433d3c;
    display: flex;
    flex-direction: row;
}
.iconColumn{
    width: 30%;
    justify-content: flex-end;
}
.detailsColumn{
    width: 40%;
    justify-content: center;
    padding-top: 30px;
}
.emptyColumn{
    width: 30%;
}

.details{
    font-family:  "Montserrat", sans-serif;
    color: rgb(228, 228, 228);
    margin-bottom: 10px;
    line-height: 1.7;
}
.iconBox{
    width: 50px;
    height: 50px;
}